html{
  width: 1280px;
 }
body{
  background: url('../img/computer.jpg') no-repeat
 }
header{
 background-color:#800080;
 text-align: center;
 margin: -8px -8px 0px -8px;
 padding: 20px 50px;
 height: 10%;
 }
.ueberschrift{
  font-size: 75px;
}
.norm{
  color: white;
  text-align: center;
  margin: -15px 0px 150px -8px;
  padding: 220px;
  }

.bilder{  
  width: 1280px;  
  height: 550px;
  background-color:#FFFFFF ;
  margin: 0px 0px 0px -8px;
  padding: 23px 0px 50px 30px;
}

.pers {
  width: 370px;
  height: 300px;
  background-color: #d6c0d8;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  float:left;

 }

 .pic img {
     width: 160px;
     height: 220px;
     margin-left: 20px;
     margin-top: 20px;
     margin-right: 20px;
     border-radius: 20px;
 }

 .text{
  margin-top:-220px ;
  margin-left:200px ;
 }


.like{
  white-space: nowrap;  
  font-size: 30px; 
  color: red; 
  width: 150px;
  margin-left: 5px; 
  margin-right: 5px;
}

 button{
     font-size: 20px;
     border-radius: 10px;
     background-color:#87b7ab;
     margin-top: 10px;
 }

hr{
  height: 2px;
  background-color: black
}

footer{
  text-align: center;
  padding-top: 30px;
  height: 60px;
}
